body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin-left: 220px;
    padding: 0px 20px;
}

#current-page {
    color: #246daf;
}

.sidenav {
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 20px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 19px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}